@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Jua', sans-serif;
    box-sizing: border-box;
    color: var(--font-color);
}

:root {
    --sig: #64dfd4;
    --bg-color: #16151a;
    --bg-more-light-color: #282833;
    --btn-color: #583672;
    --font-color: #fff;
    --font-dark-color: var(--bg-color);
    --border: 0.5px solid rgba(105, 105, 105, 0.3);
    --link: #5fcfc6;
}

input,
textarea {
    border-radius: 1em;
    padding: 0.5em 1em;
    background: none;
    border: none;
}

input,
textarea:focus {
    outline: none;
}

button {
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--link);
}

ul {
    list-style: none;
}